dist/
dist-*/
lms-launcher-v*-win64.zip
dist-update/
node_modules/
.idea/
.npm-cache/
.pnpm-store/
.superpowers/
.dsh-watch/
.repro/
.temp/
.tmp-*
logs/
configs/lms_launcher.yaml
configs/llama_launch_configs.yaml
.temp-build/
%SystemDrive%/
